---
import { locale } from "src/types/types";
import "./language-selector.css";
const currentLang = Astro.url.pathname.split("/")[1];
const englishOption = currentLang === locale.en ? "English" : "Angielski";
const polishOption = currentLang === locale.pl ? "Polski" : "Polish";
---

<select name="language-selector" class="language-selector">
  <option value="en">{englishOption}</option>
  <option value="pl">{polishOption}</option>
</select>

<script is:inline>
  function initLanguageSelector() {
    const languageSelector = document.querySelector(".language-selector");

    if (!languageSelector) return;

    const currentLang = window.location.pathname.split("/")[1] || locale.en;
    languageSelector.value = currentLang;
    localStorage.setItem("preferredLanguage", currentLang);

    languageSelector.addEventListener("change", (e) => {
      const newLang = e.target.value;
      localStorage.setItem("preferredLanguage", newLang);
      window.location.href = createUrl(newLang);
    });
  }

  function updateLanguageFromStorage() {
    const preferredLang = localStorage.getItem("preferredLanguage");
    if (preferredLang) {
      const currentLang = window.location.pathname.split("/")[1];
      if (currentLang !== preferredLang) {
        window.location.href = createUrl(preferredLang);
      }
    }
  }

  function createUrl(newLang) {
    const url = new URL(window.location.href);
    const pathParts = url.pathname.split("/");
    pathParts[1] = newLang;
    const newPath = pathParts.join("/");
    return `${newPath}${url.search}${url.hash}`;
  }

  initLanguageSelector();
  updateLanguageFromStorage();

  document.addEventListener("astro:after-swap", function () {
    initLanguageSelector();
    updateLanguageFromStorage();
  });
</script>
