---
import type { NewsPosts } from "@/components/main-grid/MainGrid";
import SettingsIcon from "@/components/settings-icon/SettingsIcon";
import Layout from "@/layouts/Layout";
import { formatDate } from "@/utils/helpers";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { contentfulClient } from "src/lib/contentful";
import "./news.css";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<NewsPosts>({
    content_type: "news",
  });

  return entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
      image: item.fields.image,
      author: item.fields.author,
    },
  }));
}

const { content, image, title, date, author } = Astro.props;

console.log(content, image, title, date, author);
---

<Layout title="Ludek" description="Ludek" image="">
  <article class="article">
    <header class="article-header title-heading article-header-single">
      <h1>{title}</h1>
      <SettingsIcon />
    </header>
    <br />
    <div class="article-image-container">
      <!-- <Image
        class="article-image article-image-single"
        src={`https:${image}`}
        alt={"2"}
        width="650"
        height="450"
      /> -->
    </div>
    <div class="article-text article-text-single">
      <Fragment set:html={content} />
    </div>
    <br />
    <hr class="article-hr" />
    <footer class="article-footer-single">
      <datetime>Posted: {formatDate(date)}</datetime>
      <p>Written by: {author}</p>
      <time datetime={date}>{new Date(date).toLocaleDateString()}</time>
    </footer>
  </article>
</Layout>
