---
import { formatDate, getLanguageFromUrl } from "@/utils/helpers";
import { Image } from "astro:assets";
import "./article.css";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
const { article } = Astro.props;
console.log(article);

const currentLanguageFromUrl = getLanguageFromUrl(Astro.url.pathname);
---

<a href={`/${currentLanguageFromUrl}/news/${article.slug}`}>
  <article class="article">
    <div class="article-image-container">
      <Image
        class="article-image"
        src={`https:${article?.image.fields.file.url}`}
        alt={article?.image.fields.title || ""}
        width="600"
        height="400"
      />
      <div class="article-info">
        <datetime>{formatDate(article.date)}</datetime>
        <div></div>
      </div>
    </div>
    <header class="article-header">
      <h3>{article.title}</h3>
    </header>
    <!-- set blocks and style them -->
    <div set:html={documentToHtmlString(article.content)} class="article-text truncate">
    </div>
    <footer class="article-footer"><p class="read-more">Read post</p></footer>
  </article>
</a>
