---
import { formatDate, getLanguageFromUrl } from "@/utils/helpers";
import { Image } from "astro:assets";
import "./article.css";
const { article } = Astro.props;

const currentLanguageFromUrl = getLanguageFromUrl(Astro.url.pathname);
---

<a href={`/${currentLanguageFromUrl}/news/${article.slug}`}>
  <article class="article">
    <div class="article-image-container">
      <Image
        class="article-image"
        src={article?.featuredImage.node.mediaItemUrl}
        alt={article?.featuredImage.node.altText || ""}
        width="600"
        height="400"
      />
      <div class="article-info">
        <datetime>{formatDate(article.date)}</datetime>
        <div></div>
      </div>
    </div>
    <header class="article-header">
      <h3>{article.title}</h3>
    </header>
    <div class="article-text truncate">
      <Fragment set:html={article.excerpt.slice(0, 120) + "..."} />
    </div>
    <footer class="article-footer"><p class="read-more">Read post</p></footer>
  </article>
</a>
